@import url('https://use.typekit.net/jop3hfe.css');

$red : #F91C1C;
$grey : #081117;
$white : #fff;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    height: 100px;
    position: fixed;
    top: 0;
    padding: 0 3rem;
    align-items: center;
    z-index: 20;
    width: 100%;
    @media screen and (max-width: "720px") {
        flex-direction: column;
        padding: 2em 0em;
        align-items: unset;
        justify-content: center;
    }
    .logo{
        height: 3.5rem;
        width: 3.5rem;
        @media screen and (max-width: "720px") {
            text-align: center;
            background-color: grey;
            width: 100%;
        }
    }
    ul{
        @media screen and (max-width: "720px") {
            width: 100%;
            margin:0;
        }
        margin: 0 0 0 1rem;
        list-style: none;
        display: flex;
        li{
            margin: 0 1rem;
            a{
                text-decoration: none;
                padding: 0.5rem 0;
                color: $grey;
                font-size: 1.8rem;
                &.active{
                    position: relative;
                    &::after{
                        content: '';
                        width: 100%;
                        height: 3px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: $red;
                    }
                }
            }
        }
    }
}
main{
    .pageContentcard{
        .box{
            content: '';
            position: fixed;
            top: 20%;
            z-index: 1;
            left: 18%;
            width: 20rem;
            height: 28rem;
            border: 8px solid $red;
            transform: rotate(-10deg);
        }
        min-width: 70%;
        position: fixed;
        top: 20%;
        z-index: 2;
        left: 28%;
        padding-right: 8rem;
        h2{
            font-size: 6rem;
            text-align: center;
        }
        h1{
            font-family: Objektiv Mk1;
            font-size: 100px;
            font-weight: 900;
            line-height: 144px;
            letter-spacing: 0em;
            text-align: center;
            text-transform: uppercase;
            z-index: 3;
        }
        p{
            font-size: 3rem;
            padding-left: 18%;
        }
        .details{
            padding-left: 18%;
            .accordian{
                .accodian_title{
                    font-family: Objektiv Mk1;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: left;

                    &.active{
                        color: $red;
                    }
                }
                .accodian_content{
                    display: none;
                    background-color: $white;
                    box-shadow: 2px 6px 6px 0px #D5DDE440;
                    padding: 15px 20px;
                    z-index: 0;
                    p{
                        padding-left: 0;
                    }
                    &.active{
                        display: block;
                    }
                }
            }
            .collapse_item{
                h4{}
                .collapse_item_content{}
            }
        }
        .project_grid{
            display: flex;
            .project_grid_Card{}
        }
        .our_locations{
            padding-left: 10rem;
            height: 40vh;
        }
        &.pagenotfound{
            .box{
                content: '';
                position: fixed;
                top: 47%;
                z-index: 1;
                left: 52%;
                width: 14rem;
                height: 21rem;
                border: 8px solid $red;
                transform: rotate(-10deg) translate(-50%,-50%);
            }
            h4{
                position: fixed;
                font-size: 1em;
                font-family: Objektiv Mk1;
                font-weight: 900;
                letter-spacing: 0em;
                text-align: left;
                bottom: 20%; 
                left: 50%;    
                transform: translateX(-50%); 
            }
            h1{
                left: 50%;    
                transform: translateX(-50%); 
                position: fixed;
                font-size: 28em;
                font-family: Objektiv Mk1;
                font-weight: bold;
                line-height: 720px;
                letter-spacing: 0em;
                text-align: left;
                top: 0;    
                @media screen and (max-width: "720px") {
                    font-size: 18em;
                }
            }
            img{
                position: fixed;
                top: 50%;
                left: 50%;    
                transform: translate(-50%,-50%);
                height: 25em;
                z-index: 3;
                @media screen and (max-width: "720px") {
                    height: 40vh;
                }
            }
        }
    }
    .swiper{
        &.heroslider{
            position: relative;
            .swiper-slide {
                position: relative;
                min-height: calc(100vh - 100px);
                .slideCount{
                    font-size: 7rem;
                    font-weight: 600;
                    position: absolute;
                    top: 40%;
                    left: 0;
                    width: fit-content;
                    transform: translateY(-40%);
                }
            }
            .swiper-pagination{
                position: absolute;
                top: 50%;
                left: 15px;
                width: fit-content;
                transform: translateY(10%);
                .swiper-pagination-bullet{
                    border-radius: 0;
                    height: 10px;
                    width: 10px;
                }
            }
        }
    }
}
footer{
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    z-index: 5;
    color: $grey;
    ul{
        list-style: none;
        margin: 0 0 1rem 0;
        padding: 0;
        display: flex;
        li{
            margin-right: 10px;
            height: 2rem;
            width: 2rem;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                text-decoration: none;
                color: $white;
                img{
                    fill: $white;
                }
            }
        }
    }
}